<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--支付宝 /lib/alipay/alipayconfig-->
    <add key="alipay_partner" value=""/>
    <add key="alipay_seller_email" value=""/>
    <add key="alipay_key" value=""/>
    <add key="alipay_private_key" value=""/>
    <add key="alipay_public_key" value=""/>
    <add key="alipay_sign_type" value="MD5"/>
    <!--银联 /lib/chinaunion/sdkconfig-->
    <add key="ChinaUnion_signCertPath" value=""/>
    <add key="ChinaUnion_signCert" value=""/>
    <add key="ChinaUnion_validateCertDir" value=""/>
    <add key="ChinaUnion_encryptCertPath" value=""/>
    <add key="ChinaUnion_cardRequestUrl" value=""/>
    <add key="ChinaUnion_appRequestUrl" value=""/>
    <add key="ChinaUnion_singleQueryUrl" value=""/>
    <add key="ChinaUnion_fileTransUrl" value=""/>
    <add key="ChinaUnion_frontTransUrl" value=""/>
    <add key="ChinaUnion_backTransUrl" value=""/>
    <add key="ChinaUnion_batTransUrl" value=""/>
    <!--微信 /lib/wechat/wxpayconfig-->
    <add key="wxpay_MCHID" value=""/>
    <add key="wxpay_KEY" value=""/>
    <add key="wxpay_APPID" value=""/>
    <add key="wxpay_APPSECRET" value=""/>
    <add key="wxpay_SSLCERT_PATH" value=""/>
    <add key="wxpay_SSLCERT_PASSWORD" value=""/>
    <add key="wxpay_NOTIFY_URL" value="/Wxpay/Notify"/>
    <add key="wxpay_IP" value=""/>

    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="ZhifuDb"
      connectionString="Data Source=(localdb)\Projects;Initial Catalog=ZhifuDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
